header,
main,
footer {
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
}

header {
    
}

main {
    
}

footer {

}

ul {
    display: inline;
    float: right;
}

ul li {
    display: inline;
    margin-right: 10px;
}